In [1]:
# importing them libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
# loading C02 emissions data
co2Df = pd.read_csv('RawData/Co2DataByCountry_CompleteRawData.csv')
co2Df.head()

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
0,Afghanistan,1850,AFG,3752993.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1851,AFG,3767956.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.165,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,Afghanistan,1852,AFG,3783940.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.164,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
3,Afghanistan,1853,AFG,3800954.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.164,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
4,Afghanistan,1854,AFG,3818038.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.163,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN

In [4]:
co2Df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48058 entries, 0 to 48057
Data columns (total 79 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   country                                    48058 non-null  object
 1   year                                       48058 non-null  int64
 2   iso_code                                   39717 non-null  object
 3   population                                 39495 non-null  float64
 4   gdp                                        14564 non-null  float64
 5   cement_co2                                 23764 non-null  float64
 6   cement_co2_per_capita                      22017 non-null  float64
 7   co2                                        30308 non-null  float64
 8   co2_growth_abs                             28157 non-null  float64
 9   co2_growth_prct                            25136 non-null  float64
 10  co2_including_luc                          23320 non-null  float64
 11  co2_including_luc_growth_abs               23030 non-null  float64
 12  co2_including_luc_growth_prct              23313 non-null  float64
 13  co2_including_luc_per_capita               23320 non-null  float64
 14  co2_including_luc_per_gdp                  15608 non-null  float64
 15  co2_including_luc_per_unit_energy          9608 non-null   float64
 16  co2_per_capita                             26600 non-null  float64
 17  co2_per_gdp                                16290 non-null  float64
 18  co2_per_unit_energy                        10241 non-null  float64
 19  coal_co2                                   25075 non-null  float64
 20  coal_co2_per_capita                        24389 non-null  float64
 21  consumption_co2                            4718 non-null   float64
 22  consumption_co2_per_capita                 4365 non-null   float64
 23  consumption_co2_per_gdp                    3899 non-null   float64
 24  cumulative_cement_co2                      23681 non-null  float64
 25  cumulative_co2                             28495 non-null  float64
 26  cumulative_co2_including_luc               23320 non-null  float64
 27  cumulative_coal_co2                        24992 non-null  float64
 28  cumulative_flaring_co2                     24909 non-null  float64
 29  cumulative_gas_co2                         25000 non-null  float64
 30  cumulative_luc_co2                         37022 non-null  float64
 31  cumulative_oil_co2                         25028 non-null  float64
 32  cumulative_other_co2                       2593 non-null   float64
 33  energy_per_capita                          10061 non-null  float64
 34  energy_per_gdp                             7159 non-null   float64
 35  flaring_co2                                24992 non-null  float64
 36  flaring_co2_per_capita                     24261 non-null  float64
 37  gas_co2                                    25083 non-null  float64
 38  gas_co2_per_capita                         24352 non-null  float64
 39  ghg_excluding_lucf_per_capita              6354 non-null   float64
 40  ghg_per_capita                             6354 non-null   float64
 41  land_use_change_co2                        37022 non-null  float64
 42  land_use_change_co2_per_capita             36313 non-null  float64
 43  methane                                    6355 non-null   float64
 44  methane_per_capita                         6355 non-null   float64
 45  nitrous_oxide                              6355 non-null   float64
 46  nitrous_oxide_per_capita                   6355 non-null   float64
 47  oil_co2                                    25111 non-null  float64
 48  oil_co2_per_capita                         24380 non-null  float64
 49  other_co2_per_capita                       2447 non-null   float64
 50  other_industry_co2                         2593 non-null   float64
 51  primary_energy_consumption                 10103 non-null  float64
 52  share_global_cement_co2                    20208 non-null  float64
 53  share_global_co2                           28495 non-null  float64
 54  share_global_co2_including_luc             23320 non-null  float64
 55  share_global_coal_co2                      24992 non-null  float64
 56  share_global_cumulative_cement_co2         20208 non-null  float64
 57  share_global_cumulative_co2                28495 non-null  float64
 58  share_global_cumulative_co2_including_luc  23320 non-null  float64
 59  share_global_cumulative_coal_co2           24992 non-null  float64
 60  share_global_cumulative_flaring_co2        16129 non-null  float64
 61  share_global_cumulative_gas_co2            22156 non-null  float64
 62  share_global_cumulative_luc_co2            37022 non-null  float64
 63  share_global_cumulative_oil_co2            23513 non-null  float64
 64  share_global_cumulative_other_co2          2593 non-null   float64
 65  share_global_flaring_co2                   16129 non-null  float64
 66  share_global_gas_co2                       22156 non-null  float64
 67  share_global_luc_co2                       37022 non-null  float64
 68  share_global_oil_co2                       23513 non-null  float64
 69  share_global_other_co2                     2593 non-null   float64
 70  share_of_temperature_change_from_ghg       41724 non-null  float64
 71  temperature_change_from_ch4                37620 non-null  float64
 72  temperature_change_from_co2                41724 non-null  float64
 73  temperature_change_from_ghg                41724 non-null  float64
 74  temperature_change_from_n2o                37620 non-null  float64
 75  total_ghg                                  6354 non-null   float64
 76  total_ghg_excluding_lucf                   6354 non-null   float64
 77  trade_co2                                  4398 non-null   float64
 78  trade_co2_share                            4397 non-null   float64
dtypes: float64(76), int64(1), object(2)
memory usage: 29.0+ MB

In [4]:
# selecting only years 2007 - 2022
co2Df07to22 = co2Df[co2Df['year'] > 2006]
co2Df07to22.head(20)

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
157,Afghanistan,2007,AFG,2.590331e+07,3.450753e+10,0.012,0.000,2.800,0.641,29.666,...,NaN,0.077,0.000,0.000,0.001,0.000,18.34,18.22,NaN,NaN
158,Afghanistan,2008,AFG,2.642720e+07,3.656104e+10,0.015,0.001,4.254,1.455,51.951,...,NaN,0.077,0.000,0.000,0.001,0.000,21.47,21.35,NaN,NaN
159,Afghanistan,2009,AFG,2.738531e+07,4.435872e+10,0.013,0.000,6.392,2.137,50.239,...,NaN,0.078,0.000,0.000,0.001,0.000,24.44,24.31,NaN,NaN
160,Afghanistan,2010,AFG,2.818967e+07,4.739942e+10,0.015,0.001,8.365,1.973,30.866,...,NaN,0.078,0.000,0.000,0.001,0.000,28.71,28.59,NaN,NaN
161,Afghanistan,2011,AFG,2.924916e+07,5.332634e+10,0.015,0.000,11.838,3.474,41.525,...,NaN,0.079,0.000,0.000,0.001,0.000,32.20,32.45,NaN,NaN
162,Afghanistan,2012,AFG,3.046648e+07,5.916690e+10,0.029,0.001,10.035,-1.803,-15.230,...,NaN,0.080,0.001,0.000,0.001,0.000,30.68,30.93,NaN,NaN
163,Afghanistan,2013,AFG,3.154122e+07,6.299370e+10,0.036,0.001,9.251,-0.785,-7.820,...,NaN,0.080,0.001,0.000,0.001,0.000,30.18,30.43,NaN,NaN
164,Afghanistan,2014,AFG,3.271621e+07,6.434611e+10,0.029,0.001,9.170,-0.080,-0.867,...,NaN,0.081,0.001,0.000,0.001,0.000,30.92,31.17,NaN,NaN
165,Afghanistan,2015,AFG,3.375350e+07,6.278339e+10,0.041,0.001,9.791,0.621,6.770,...,NaN,0.081,0.001,0.000,0.001,0.000,31.37,31.62,NaN,NaN
166,Afghanistan,2016,AFG,3.463621e+07,6.429743e+10,0.076,0.002,9.068,-0.723,-7.389,...,NaN,0.082,0.001,0.000,0.001,0.000,31.02,30.86,NaN,NaN
167,Afghanistan,2017,AFG,3.564342e+07,6.875280e+10,0.045,0.001,9.868,0.800,8.827,...,NaN,0.082,0.001,0.000,0.001,0.000,31.91,31.75,NaN,NaN
168,Afghanistan,2018,AFG,3.668679e+07,6.759497e+10,0.057,0.002,10.818,0.950,9.628,...,NaN,0.082,0.001,0.001,0.001,0.000,32.74,32.58,NaN,NaN
169,Afghanistan,2019,AFG,3.776950e+07,NaN,0.038,0.001,11.082,0.264,2.436,...,NaN,0.082,0.001,0.001,0.001,0.000,32.89,32.74,NaN,NaN
170,Afghanistan,2020,AFG,3.897224e+07,NaN,0.061,0.002,11.888,0.806,7.277,...,NaN,0.082,0.001,0.001,0.001,0.000,31.27,31.12,NaN,NaN
171,Afghanistan,2021,AFG,4.009946e+07,NaN,0.016,0.000,12.283,0.395,3.323,...,NaN,0.083,0.001,0.001,0.001,0.000,NaN,NaN,NaN,NaN
172,Afghanistan,2022,AFG,4.112877e+07,NaN,0.016,0.000,12.148,-0.135,-1.101,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
430,Africa,2007,NaN,9.764617e+08,NaN,49.202,0.050,1122.721,30.556,2.798,...,NaN,9.027,0.048,0.059,0.115,0.008,3653.71,2525.87,-150.066,-13.366
431,Africa,2008,NaN,1.001982e+09,NaN,51.817,0.052,1175.620,52.898,4.712,...,NaN,9.065,0.049,0.060,0.118,0.008,3753.21,2618.42,-152.021,-12.931
432,Africa,2009,NaN,1.028201e+09,NaN,58.048,0.057,1173.163,-2.456,-0.209,...,NaN,9.099,0.050,0.062,0.120,0.008,3719.39,2598.15,-105.464,-8.990
433,Africa,2010,NaN,1.055234e+09,NaN,59.657,0.057,1215.374,42.210,3.598,...,NaN,9.131,0.051,0.063,0.123,0.009,3859.02,2716.33,-119.373,-9.822

In [5]:
co2Df07to22[co2Df07to22['country']  == 'United States']

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
45763,United States,2007,USA,302743392.0,1.536446e+13,45.509,0.150,6130.123,77.437,1.279,...,11.307,19.285,0.037,0.199,0.246,0.010,6397.65,6787.86,509.094,8.305
45764,United States,2008,USA,305694912.0,1.531973e+13,41.416,0.135,5915.119,-215.004,-3.507,...,10.939,19.166,0.037,0.202,0.249,0.010,6211.30,6601.05,400.232,6.766
45765,United States,2009,USA,308512032.0,1.489429e+13,29.615,0.096,5480.726,-434.393,-7.344,...,10.502,19.035,0.037,0.204,0.251,0.010,5793.39,6184.15,298.723,5.450
45766,United States,2010,USA,311182848.0,1.527062e+13,31.449,0.101,5679.715,198.990,3.631,...,12.527,18.900,0.037,0.207,0.254,0.010,6063.30,6454.24,286.098,5.037
45767,United States,2011,USA,313876608.0,1.550930e+13,32.208,0.103,5546.116,-133.599,-2.352,...,10.775,18.749,0.037,0.209,0.256,0.010,5847.39,6254.96,272.792,4.919
45768,United States,2012,USA,316651328.0,1.584964e+13,35.270,0.111,5344.086,-202.030,-3.643,...,11.099,18.590,0.036,0.212,0.258,0.010,5628.80,6036.58,308.129,5.766
45769,United States,2013,USA,319375168.0,1.610843e+13,36.369,0.114,5480.157,136.071,2.546,...,10.473,18.441,0.036,0.214,0.261,0.010,5769.63,6177.42,258.456,4.716
45770,United States,2014,USA,322033952.0,1.648266e+13,39.439,0.122,5528.681,48.524,0.885,...,10.604,18.294,0.036,0.217,0.263,0.011,5816.48,6224.27,308.140,5.573
45771,United States,2015,USA,324607776.0,1.690258e+13,39.907,0.123,5376.473,-152.208,-2.753,...,10.287,18.148,0.036,0.219,0.265,0.011,5705.12,6112.06,413.808,7.697
45772,United States,2016,USA,327210208.0,1.716256e+13,39.439,0.121,5252.932,-123.541,-2.298,...,9.510,18.007,0.036,0.221,0.268,0.011,5783.00,6003.24,407.795,7.763
45773,United States,2017,USA,329791232.0,1.759628e+13,40.324,0.122,5212.162,-40.770,-0.776,...,9.182,17.867,0.036,0.223,0.270,0.011,5728.79,5947.84,418.983,8.039
45774,United States,2018,USA,332140032.0,1.814065e+13,38.971,0.117,5377.797,165.635,3.178,...,8.143,17.734,0.035,0.226,0.272,0.011,5935.52,6154.65,420.355,7.816
45775,United States,2019,USA,334319680.0,NaN,40.896,0.122,5262.145,-115.652,-2.151,...,8.085,17.599,0.035,0.228,0.275,0.011,5819.48,6039.74,423.539,8.049
45776,United States,2020,USA,335942016.0,NaN,40.688,0.121,4714.628,-547.517,-10.405,...,8.294,17.466,0.035,0.230,0.277,0.011,5289.13,5505.18,471.929,10.010
45777,United States,2021,USA,336997632.0,NaN,41.312,0.123,5032.213,317.585,6.736,...,8.242,17.335,0.035,0.233,0.279,0.011,NaN,NaN,539.960,10.730
45778,United States,2022,USA,338289856.0,NaN,41.418,0.122,5057.304,25.091,0.499,...,8.246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# columns of interest: country, year, iso_code, population, co2, co2_growth_abs, co2_growth_prct, co2_including_luc,
# co2_per_capita, co2_per_gdp, co2_per_unit_energy, energy_per_capita, energy_per_gdp, primary_energy_consumption, total_ghg
co2Cleaned = co2Df07to22[['country', 'year', 'iso_code', 'population', 'co2', 'co2_growth_abs', 'co2_including_luc', 'co2_per_capita', 'co2_per_gdp', 'co2_per_unit_energy', 'energy_per_capita', 'energy_per_gdp', 'primary_energy_consumption', 'total_ghg']]
co2Cleaned.head(20)

,country,year,iso_code,population,co2,co2_growth_abs,co2_including_luc,co2_per_capita,co2_per_gdp,co2_per_unit_energy,energy_per_capita,energy_per_gdp,primary_energy_consumption,total_ghg
157,Afghanistan,2007,AFG,2.590331e+07,2.800,0.641,3.520,0.108,0.081,0.305,354.280,0.266,9.177,18.34
158,Afghanistan,2008,AFG,2.642720e+07,4.254,1.455,4.871,0.161,0.116,0.265,607.833,0.439,16.063,21.47
159,Afghanistan,2009,AFG,2.738531e+07,6.392,2.137,6.897,0.233,0.144,0.239,975.048,0.602,26.702,24.44
160,Afghanistan,2010,AFG,2.818967e+07,8.365,1.973,8.538,0.297,0.176,0.251,1182.892,0.703,33.345,28.71
161,Afghanistan,2011,AFG,2.924916e+07,11.838,3.474,11.971,0.405,0.222,0.282,1436.114,0.788,42.005,32.20
162,Afghanistan,2012,AFG,3.046648e+07,10.035,-1.803,10.152,0.329,0.170,0.249,1324.121,0.682,40.341,30.68
163,Afghanistan,2013,AFG,3.154122e+07,9.251,-0.785,9.231,0.293,0.147,0.276,1060.793,0.531,33.459,30.18
164,Afghanistan,2014,AFG,3.271621e+07,9.170,-0.080,9.085,0.280,0.143,0.323,868.576,0.442,28.417,30.92
165,Afghanistan,2015,AFG,3.375350e+07,9.791,0.621,9.859,0.290,0.156,0.299,970.080,0.522,32.744,31.37
166,Afghanistan,2016,AFG,3.463621e+07,9.068,-0.723,9.202,0.262,0.141,0.303,862.791,0.465,29.884,31.02
167,Afghanistan,2017,AFG,3.564342e+07,9.868,0.800,9.697,0.277,0.144,0.334,829.312,0.430,29.560,31.91
168,Afghanistan,2018,AFG,3.668679e+07,10.818,0.950,10.813,0.295,0.160,0.319,924.251,0.502,33.908,32.74
169,Afghanistan,2019,AFG,3.776950e+07,11.082,0.264,11.272,0.293,NaN,0.366,802.613,NaN,30.314,32.89
170,Afghanistan,2020,AFG,3.897224e+07,11.888,0.806,11.985,0.305,NaN,0.434,702.888,NaN,27.393,31.27
171,Afghanistan,2021,AFG,4.009946e+07,12.283,0.395,12.266,0.306,NaN,0.453,676.696,NaN,27.135,NaN
172,Afghanistan,2022,AFG,4.112877e+07,12.148,-0.135,12.193,0.295,NaN,NaN,NaN,NaN,NaN,NaN
430,Africa,2007,NaN,9.764617e+08,1122.721,30.556,2622.714,1.151,0.314,0.277,4102.063,NaN,4005.508,3653.71
431,Africa,2008,NaN,1.001982e+09,1175.620,52.898,2890.544,1.175,0.304,0.270,4236.832,NaN,4245.228,3753.21
432,Africa,2009,NaN,1.028201e+09,1173.163,-2.456,3187.862,1.143,0.286,0.271,4198.256,NaN,4316.649,3719.39
433,Africa,2010,NaN,1.055234e+09,1215.374,42.210,3493.079,1.153,0.274,0.269,4217.788,NaN,4450.751,3859.02

In [7]:
co2Cleaned['country'].unique()

array(['Afghanistan', 'Africa', 'Africa (GCP)', 'Albania', 'Algeria',
       'Andorra', 'Angola', 'Anguilla', 'Antarctica',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Asia',
       'Asia (GCP)', 'Asia (excl. China and India)', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda',
       'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Central African Republic', 'Central America (GCP)', 'Chad',
       'Chile', 'China', 'Christmas Island', 'Colombia', 'Comoros',
       'Congo', 'Cook Islands', 'Costa Rica', "Cote d'Ivoire", 'Croatia',
       'Cuba', 'Curacao', 'Cyprus', 'Czechia',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'East Timor', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Europe', 'Europe (GCP)',
       'Europe (excl. EU-27)', 'Europe (excl. EU-28)',
       'European Union (27)', 'European Union (28)', 'Faroe Islands',
       'Fiji', 'Finland', 'France',
       'French Equatorial Africa (Jones et al. 2023)', 'French Polynesia',
       'French West Africa (Jones et al. 2023)', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Greenland', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'High-income countries', 'Honduras', 'Hong Kong', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'International aviation',
       'International shipping', 'International transport', 'Iran',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kuwait',
       'Kuwaiti Oil Fires (Jones et al. 2023)', 'Kyrgyzstan', 'Laos',
       'Latvia', 'Least developed countries (Jones et al. 2023)',
       'Lebanon', 'Leeward Islands (Jones et al. 2023)', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Low-income countries', 'Lower-middle-income countries',
       'Luxembourg', 'Macao', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania',
       'Mauritius', 'Mexico', 'Micronesia (country)', 'Middle East (GCP)',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'Non-OECD (GCP)', 'North America',
       'North America (GCP)', 'North America (excl. USA)', 'North Korea',
       'North Macedonia', 'Norway', 'OECD (GCP)',
       'OECD (Jones et al. 2023)', 'Oceania', 'Oceania (GCP)', 'Oman',
       'Pakistan', 'Palau', 'Palestine', 'Panama',
       'Panama Canal Zone (Jones et al. 2023)', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Ryukyu Islands (Jones et al. 2023)', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South America (GCP)', 'South Korea', 'South Sudan', 'Spain',
       'Sri Lanka', 'St. Kitts-Nevis-Anguilla (Jones et al. 2023)',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Upper-middle-income countries', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Vatican', 'Venezuela', 'Vietnam', 'Wallis and Futuna',
       'World', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [8]:
co2Cleaned.reset_index()

,index,country,year,iso_code,population,co2,co2_growth_abs,co2_including_luc,co2_per_capita,co2_per_gdp,co2_per_unit_energy,energy_per_capita,energy_per_gdp,primary_energy_consumption,total_ghg
0,157,Afghanistan,2007,AFG,25903306.0,2.800,0.641,3.520,0.108,0.081,0.305,354.280,0.266,9.177,18.34
1,158,Afghanistan,2008,AFG,26427204.0,4.254,1.455,4.871,0.161,0.116,0.265,607.833,0.439,16.063,21.47
2,159,Afghanistan,2009,AFG,27385310.0,6.392,2.137,6.897,0.233,0.144,0.239,975.048,0.602,26.702,24.44
3,160,Afghanistan,2010,AFG,28189672.0,8.365,1.973,8.538,0.297,0.176,0.251,1182.892,0.703,33.345,28.71
4,161,Afghanistan,2011,AFG,29249156.0,11.838,3.474,11.971,0.405,0.222,0.282,1436.114,0.788,42.005,32.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4127,48053,Zimbabwe,2018,ZWE,15052191.0,10.715,1.419,19.423,0.712,0.472,0.207,3441.986,2.281,51.809,116.76
4128,48054,Zimbabwe,2019,ZWE,15354606.0,9.775,-0.939,17.854,0.637,NaN,0.212,3003.655,NaN,46.120,116.03
4129,48055,Zimbabwe,2020,ZWE,15669663.0,7.850,-1.926,15.459,0.501,NaN,0.187,2680.132,NaN,41.997,113.20
4130,48056,Zimbabwe,2021,ZWE,15993525.0,8.396,0.547,15.513,0.525,NaN,0.199,2635.154,NaN,42.145,NaN
4131,48057,Zimbabwe,2022,ZWE,16320539.0,8.856,0.460,15.580,0.543,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
co2Cleaned.iloc[0]

country                       Afghanistan
year                                 2007
iso_code                              AFG
population                     25903306.0
co2                                   2.8
co2_growth_abs                      0.641
co2_including_luc                    3.52
co2_per_capita                      0.108
co2_per_gdp                         0.081
co2_per_unit_energy                 0.305
energy_per_capita                  354.28
energy_per_gdp                      0.266
primary_energy_consumption          9.177
total_ghg                           18.34
Name: 157, dtype: object

In [10]:
co2Cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4132 entries, 157 to 48057
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   country                     4132 non-null   object
 1   year                        4132 non-null   int64
 2   iso_code                    3501 non-null   object
 3   population                  3663 non-null   float64
 4   co2                         3889 non-null   float64
 5   co2_growth_abs              3729 non-null   float64
 6   co2_including_luc           3376 non-null   float64
 7   co2_per_capita              3696 non-null   float64
 8   co2_per_gdp                 2164 non-null   float64
 9   co2_per_unit_energy         3405 non-null   float64
 10  energy_per_capita           3354 non-null   float64
 11  energy_per_gdp              1984 non-null   float64
 12  primary_energy_consumption  3369 non-null   float64
 13  total_ghg                   2870 non-null   float64
dtypes: float64(11), int64(1), object(2)
memory usage: 484.2+ KB

In [6]:
countryList = [
    'Australia', 'Austria', 'Belgium', 'Canada', 'Croatia', 
    'Czechia', 'Denmark', 'Estonia', 'Finland', 'France', 
    'Germany', 'Greece', 'Hungary', 'Iceland', 'Israel', 
    'Italy', 'Japan', 'Latvia', 'Lithuania', 'Luxembourg', 
    'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal',
    'Slovakia', 'Slovenia', 'South Korea', 'Spain', 'Sweden', 
    'Switzerland', 'United Kingdom', 'United States']
ghgDf = co2Cleaned[co2Cleaned['country'].isin(countryList)]

In [12]:
ghgDf.reset_index(drop=True, inplace=True)

In [13]:
ghgDf['iso_code'].unique()

array(['AUS', 'AUT', 'BEL', 'CAN', 'HRV', 'CZE', 'DNK', 'EST', 'FIN',
       'FRA', 'DEU', 'GRC', 'HUN', 'ISL', 'ISR', 'ITA', 'JPN', 'LVA',
       'LTU', 'LUX', 'NLD', 'NZL', 'NOR', 'POL', 'PRT', 'SVK', 'SVN',
       'KOR', 'ESP', 'SWE', 'CHE', 'GBR', 'USA'], dtype=object)

In [14]:
ghgDf.to_csv('GreenHouseGasEmissions_SelectCountries_2007to2022.csv')

In [15]:
#Cleaning World Happiness Report

In [3]:
whrDf = pd.read_csv('RawData/WorldHappinessReport_2007-2022.csv')

In [3]:
whrDf.head(20)

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.350,0.451,50.500,0.718,0.168,0.882,0.414,0.258
1,Afghanistan,2009,4.402,7.509,0.552,50.800,0.679,0.191,0.850,0.481,0.237
2,Afghanistan,2010,4.758,7.614,0.539,51.100,0.600,0.121,0.707,0.517,0.275
3,Afghanistan,2011,3.832,7.581,0.521,51.400,0.496,0.164,0.731,0.480,0.267
4,Afghanistan,2012,3.783,7.661,0.521,51.700,0.531,0.238,0.776,0.614,0.268
5,Afghanistan,2013,3.572,7.680,0.484,52.000,0.578,0.063,0.823,0.547,0.273
6,Afghanistan,2014,3.131,7.671,0.526,52.300,0.509,0.106,0.871,0.492,0.375
7,Afghanistan,2015,3.983,7.654,0.529,52.600,0.389,0.082,0.881,0.491,0.339
8,Afghanistan,2016,4.220,7.650,0.559,52.925,0.523,0.044,0.793,0.501,0.348
9,Afghanistan,2017,2.662,7.648,0.491,53.250,0.427,-0.119,0.954,0.435,0.371
10,Afghanistan,2018,2.694,7.631,0.508,53.575,0.374,-0.091,0.928,0.385,0.405
11,Afghanistan,2019,2.375,7.640,0.420,53.900,0.394,-0.106,0.924,0.324,0.502
12,Afghanistan,2021,2.436,7.324,0.454,54.550,0.394,-0.081,0.946,0.179,0.607
13,Afghanistan,2022,1.281,NaN,0.228,54.875,0.368,NaN,0.733,0.206,0.576
14,Albania,2007,4.634,9.122,0.821,66.760,0.529,-0.010,0.875,0.489,0.246
15,Albania,2009,5.485,9.241,0.833,67.320,0.525,-0.159,0.864,0.564,0.279
16,Albania,2010,5.269,9.283,0.733,67.600,0.569,-0.174,0.726,0.576,0.300
17,Albania,2011,5.867,9.311,0.759,67.880,0.487,-0.206,0.877,0.566,0.257
18,Albania,2012,5.510,9.326,0.785,68.160,0.602,-0.170,0.848,0.553,0.271
19,Albania,2013,4.551,9.338,0.759,68.440,0.632,-0.129,0.863,0.541,0.338

In [7]:
whrSelectCountries = whrDf[whrDf['Country name'].isin(countryList)]
whrSelectCountries['Country name'].unique()

array(['Australia', 'Austria', 'Belgium', 'Canada', 'Croatia', 'Czechia',
       'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece',
       'Hungary', 'Iceland', 'Israel', 'Italy', 'Japan', 'Latvia',
       'Lithuania', 'Luxembourg', 'Netherlands', 'New Zealand', 'Norway',
       'Poland', 'Portugal', 'Slovakia', 'Slovenia', 'South Korea',
       'Spain', 'Sweden', 'Switzerland', 'United Kingdom',
       'United States'], dtype=object)

In [8]:
whrSelectCountries.reset_index(drop=True, inplace=True)
whrSelectCountries.head(20)

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Australia,2005,7.341,10.662,0.968,69.800,0.935,NaN,0.390,0.770,0.238
1,Australia,2007,7.285,10.694,0.965,69.960,0.891,0.343,0.513,0.762,0.215
2,Australia,2008,7.254,10.709,0.947,70.040,0.916,0.302,0.431,0.729,0.218
3,Australia,2010,7.450,10.714,0.955,70.200,0.932,0.313,0.366,0.762,0.220
4,Australia,2011,7.406,10.723,0.967,70.280,0.945,0.366,0.382,0.724,0.195
5,Australia,2012,7.196,10.744,0.945,70.360,0.935,0.270,0.368,0.728,0.214
6,Australia,2013,7.364,10.752,0.928,70.440,0.933,0.265,0.432,0.770,0.177
7,Australia,2014,7.289,10.763,0.924,70.520,0.923,0.315,0.442,0.740,0.245
8,Australia,2015,7.309,10.770,0.952,70.600,0.922,0.328,0.357,0.750,0.210
9,Australia,2016,7.250,10.781,0.942,70.675,0.922,0.235,0.399,0.736,0.236
10,Australia,2017,7.257,10.787,0.950,70.750,0.911,0.314,0.411,0.728,0.225
11,Australia,2018,7.177,10.801,0.940,70.825,0.916,0.143,0.405,0.706,0.187
12,Australia,2019,7.234,10.807,0.943,70.900,0.918,0.117,0.430,0.727,0.202
13,Australia,2020,7.137,10.794,0.937,70.975,0.905,0.203,0.491,0.726,0.205
14,Australia,2021,7.112,10.815,0.920,71.050,0.912,0.236,0.454,0.740,0.235
15,Australia,2022,7.035,10.854,0.942,71.125,0.854,0.153,0.545,0.711,0.244
16,Austria,2006,7.122,10.836,0.936,69.500,0.941,0.298,0.490,0.746,0.174
17,Austria,2008,7.181,10.881,0.935,69.700,0.879,0.287,0.614,0.716,0.173
18,Austria,2010,7.303,10.856,0.914,69.900,0.896,0.127,0.546,0.710,0.156
19,Austria,2011,7.471,10.881,0.944,70.000,0.939,0.128,0.703,0.672,0.145

In [20]:
whrFiltered = whrSelectCountries[whrSelectCountries['year'] > 2006]

In [21]:
whrFiltered['Country name'].unique()

array(['Australia', 'Austria', 'Belgium', 'Canada', 'Croatia', 'Czechia',
       'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece',
       'Hungary', 'Iceland', 'Israel', 'Italy', 'Japan', 'Latvia',
       'Lithuania', 'Luxembourg', 'Netherlands', 'New Zealand', 'Norway',
       'Poland', 'Portugal', 'Slovakia', 'Slovenia', 'South Korea',
       'Spain', 'Sweden', 'Switzerland', 'United Kingdom',
       'United States'], dtype=object)

In [20]:
whrFiltered.head(20)
whrFiltered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 482 entries, 1 to 512
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country name                      482 non-null    object
 1   year                              482 non-null    int64
 2   Life Ladder                       482 non-null    float64
 3   Log GDP per capita                482 non-null    float64
 4   Social support                    480 non-null    float64
 5   Healthy life expectancy at birth  482 non-null    float64
 6   Freedom to make life choices      482 non-null    float64
 7   Generosity                        478 non-null    float64
 8   Perceptions of corruption         482 non-null    float64
 9   Positive affect                   482 non-null    float64
 10  Negative affect                   482 non-null    float64
dtypes: float64(9), int64(1), object(1)
memory usage: 45.2+ KB

In [22]:
whrFiltered.to_csv('WorldHappinessReport_FilteredCountriesAndYears.csv')

In [21]:
#Cleaning Human Freedom Index

In [4]:
hfiRawDf = pd.read_csv('RawData/HumanFreedomIndex_2007-2021.csv')
hfiRawDf.head(20)

,Year,Country Code,Country,Region,HUMAN FREEDOM,HUMAN FREEDOM RANK,HUMAN FREEDOM QUARTILE
0,2021,ALB,Albania,Eastern Europe,7.67,49.0,2.0
1,2021,DZA,Algeria,Middle East & North Africa,4.82,155.0,4.0
2,2021,AGO,Angola,Sub-Saharan Africa,5.76,122.0,3.0
3,2021,ARG,Argentina,Latin America & the Caribbean,6.85,77.0,2.0
4,2021,ARM,Armenia,Caucasus & Central Asia,7.99,33.0,1.0
5,2021,AUS,Australia,Oceania,8.52,14.0,1.0
6,2021,AUT,Austria,Western Europe,8.24,24.0,1.0
7,2021,AZE,Azerbaijan,Caucasus & Central Asia,5.65,126.0,4.0
8,2021,BHS,"Bahamas, The",Latin America & the Caribbean,7.82,41.0,2.0
9,2021,BHR,Bahrain,Middle East & North Africa,5.47,137.0,4.0
10,2021,BGD,Bangladesh,South Asia,5.51,130.0,4.0
11,2021,BRB,Barbados,Latin America & the Caribbean,7.72,45.0,2.0
12,2021,BLR,Belarus,Eastern Europe,5.48,133.0,4.0
13,2021,BEL,Belgium,Western Europe,8.33,22.0,1.0
14,2021,BLZ,Belize,Latin America & the Caribbean,6.82,81.0,2.0
15,2021,BEN,Benin,Sub-Saharan Africa,6.86,76.0,2.0
16,2021,BTN,Bhutan,South Asia,6.69,87.0,3.0
17,2021,BOL,Bolivia,Latin America & the Caribbean,6.83,79.0,2.0
18,2021,BIH,Bosnia and Herzegovina,Eastern Europe,7.33,61.0,2.0
19,2021,BWA,Botswana,Sub-Saharan Africa,7.31,62.0,2.0

In [23]:
hfiRawDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2475 entries, 0 to 2474
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Year                    2475 non-null   int64
 1   Country Code            2475 non-null   object
 2   Country                 2475 non-null   object
 3   Region                  2475 non-null   object
 4   HUMAN FREEDOM           2367 non-null   float64
 5   HUMAN FREEDOM RANK      2367 non-null   float64
 6   HUMAN FREEDOM QUARTILE  2367 non-null   float64
dtypes: float64(3), int64(1), object(3)
memory usage: 135.5+ KB

In [24]:
hfiRawDf.drop('HUMAN FREEDOM QUARTILE', axis=1, inplace=True)
hfiRawDf.head(20)

,Year,Country Code,Country,Region,HUMAN FREEDOM,HUMAN FREEDOM RANK
0,2021,ALB,Albania,Eastern Europe,7.67,49.0
1,2021,DZA,Algeria,Middle East & North Africa,4.82,155.0
2,2021,AGO,Angola,Sub-Saharan Africa,5.76,122.0
3,2021,ARG,Argentina,Latin America & the Caribbean,6.85,77.0
4,2021,ARM,Armenia,Caucasus & Central Asia,7.99,33.0
5,2021,AUS,Australia,Oceania,8.52,14.0
6,2021,AUT,Austria,Western Europe,8.24,24.0
7,2021,AZE,Azerbaijan,Caucasus & Central Asia,5.65,126.0
8,2021,BHS,"Bahamas, The",Latin America & the Caribbean,7.82,41.0
9,2021,BHR,Bahrain,Middle East & North Africa,5.47,137.0
10,2021,BGD,Bangladesh,South Asia,5.51,130.0
11,2021,BRB,Barbados,Latin America & the Caribbean,7.72,45.0
12,2021,BLR,Belarus,Eastern Europe,5.48,133.0
13,2021,BEL,Belgium,Western Europe,8.33,22.0
14,2021,BLZ,Belize,Latin America & the Caribbean,6.82,81.0
15,2021,BEN,Benin,Sub-Saharan Africa,6.86,76.0
16,2021,BTN,Bhutan,South Asia,6.69,87.0
17,2021,BOL,Bolivia,Latin America & the Caribbean,6.83,79.0
18,2021,BIH,Bosnia and Herzegovina,Eastern Europe,7.33,61.0
19,2021,BWA,Botswana,Sub-Saharan Africa,7.31,62.0

In [25]:
countryCodes = [
    'AUS', 'AUT', 'BEL', 'CAN', 'HRV', 
    'CZE', 'DNK', 'EST', 'FIN', 'FRA', 
    'DEU', 'GRC', 'HUN', 'ISL', 'ISR', 
    'ITA', 'JPN', 'KOR', 'LVA', 'LTU', 
    'LUX', 'NLD', 'NZL', 'NOR', 'POL', 
    'PRT', 'SVK', 'SVN', 'ESP', 'SWE', 
    'CHE', 'GBR', 'USA'
]
hfiCleaned = hfiRawDf[hfiRawDf['Country Code'].isin(countryCodes)]
hfiCleaned['Country Code'].unique()

array(['AUS', 'AUT', 'BEL', 'CAN', 'HRV', 'CZE', 'DNK', 'EST', 'FIN',
       'FRA', 'DEU', 'GRC', 'HUN', 'ISL', 'ISR', 'ITA', 'JPN', 'KOR',
       'LVA', 'LTU', 'LUX', 'NLD', 'NZL', 'NOR', 'POL', 'PRT', 'SVK',
       'SVN', 'ESP', 'SWE', 'CHE', 'GBR', 'USA'], dtype=object)

In [26]:
hfiCleaned.head(20)

,Year,Country Code,Country,Region,HUMAN FREEDOM,HUMAN FREEDOM RANK
5,2021,AUS,Australia,Oceania,8.52,14.0
6,2021,AUT,Austria,Western Europe,8.24,24.0
13,2021,BEL,Belgium,Western Europe,8.33,22.0
28,2021,CAN,Canada,North America,8.55,13.0
39,2021,HRV,Croatia,Eastern Europe,7.96,34.0
41,2021,CZE,Czech Republic,Eastern Europe,8.38,20.0
42,2021,DNK,Denmark,Western Europe,8.83,3.0
48,2021,EST,Estonia,Eastern Europe,8.75,5.0
52,2021,FIN,Finland,Western Europe,8.70,9.0
53,2021,FRA,France,Western Europe,7.86,39.0
57,2021,DEU,Germany,Western Europe,8.37,21.0
59,2021,GRC,Greece,Eastern Europe,7.49,57.0
67,2021,HUN,Hungary,Eastern Europe,7.24,65.0
68,2021,ISL,Iceland,Western Europe,8.73,7.0
74,2021,ISR,Israel,Middle East & North Africa,7.43,59.0
75,2021,ITA,Italy,Western Europe,7.95,36.0
77,2021,JPN,Japan,East Asia,8.40,16.0
81,2021,KOR,"Korea, Rep.",East Asia,8.12,28.0
85,2021,LVA,Latvia,Eastern Europe,8.45,15.0
90,2021,LTU,Lithuania,Eastern Europe,8.39,17.0

In [25]:
hfiCleaned.to_csv('HumanFreedomIndex_2007-2021_Cleaned.csv')

In [27]:
#Cleaning Homicide Rate Data

In [5]:
homRawData = pd.read_csv('RawData/data_cts_intentional_homicide.csv')
homRawData.head(20)

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source,Unnamed: 13
0,ARM,Armenia,Asia,Western Asia,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,35.0,CTS,NaN
1,CHE,Switzerland,Europe,Western Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,28.0,CTS,NaN
2,COL,Colombia,Americas,Latin America and the Caribbean,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,15053.0,CTS,NaN
3,CZE,Czechia,Europe,Eastern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,69.0,CTS,NaN
4,DEU,Germany,Europe,Western Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,455.0,CTS,NaN
5,FIN,Finland,Europe,Northern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,70.0,CTS,NaN
6,GTM,Guatemala,Americas,Latin America and the Caribbean,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,2764.0,CTS,NaN
7,HND,Honduras,Americas,Latin America and the Caribbean,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,905.0,CTS,NaN
8,HUN,Hungary,Europe,Eastern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,229.0,CTS,NaN
9,ISL,Iceland,Europe,Northern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,1.0,CTS,NaN
10,ITA,Italy,Europe,Southern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,864.0,CTS,NaN
11,JPN,Japan,Asia,Eastern Asia,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,259.0,CTS,NaN
12,LKA,Sri Lanka,Asia,Southern Asia,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,809.0,CTS,NaN
13,LTU,Lithuania,Europe,Northern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,173.0,CTS,NaN
14,MNG,Mongolia,Asia,Eastern Asia,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,207.0,CTS,NaN
15,NOR,Norway,Europe,Northern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,16.0,CTS,NaN
16,SRB,Serbia,Europe,Southern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,134.0,CTS,NaN
17,SVK,Slovakia,Europe,Eastern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,53.0,CTS,NaN
18,SVN,Slovenia,Europe,Southern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,16.0,CTS,NaN
19,TUR,Türkiye,Asia,Western Asia,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,9891.0,CTS,NaN

In [29]:
homRawData['Unit of measurement'].unique()

array(['Counts', 'Rate per 100,000 population'], dtype=object)

In [139]:
homRawData[(homRawData['Country'] == 'Japan') & (homRawData['Year'] == 2007)]

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source,Unnamed: 13
3333,JPN,Japan,Asia,Eastern Asia,Victims of intentional homicide,Total,Total,Total,Total,2007,Counts,574.000000,GSH 2019 Revision/SDG/CTS/MoI,NaN
6481,JPN,Japan,Asia,Eastern Asia,Victims of intentional homicide,Total,Total,Male,Total,2007,Counts,292.000000,GSH 2019 Revision/CTS/SDG/MoI,NaN
9195,JPN,Japan,Asia,Eastern Asia,Victims of intentional homicide,Total,Total,Female,Total,2007,Counts,282.000000,GSH 2019 Revision/CTS/SDG/MoI,NaN
22878,JPN,Japan,Asia,Eastern Asia,Victims of intentional homicide,by situational context,Other criminal activities,Total,Total,2007,Counts,30.000000,CTS/MoI,NaN
23533,JPN,Japan,Asia,Eastern Asia,Victims of intentional homicide,by situational context,Other criminal activities,Male,Total,2007,Counts,15.000000,CTS/MoI,NaN
24165,JPN,Japan,Asia,Eastern Asia,Victims of intentional homicide,by situational context,Other criminal activities,Female,Total,2007,Counts,15.000000,CTS/MoI,NaN
58032,JPN,Japan,Asia,Eastern Asia,Persons convicted for intentional homicide,Total,Total,Total,Total,2007,Counts,332.000000,CTS/MoI,NaN
62911,JPN,Japan,Asia,Eastern Asia,Victims of intentional homicide,Total,Total,Total,Total,2007,"Rate per 100,000 population",0.448415,GSH 2019 Revision/SDG/CTS/MoI,NaN
66059,JPN,Japan,Asia,Eastern Asia,Victims of intentional homicide,Total,Total,Male,Total,2007,"Rate per 100,000 population",0.467606,GSH 2019 Revision/CTS/SDG/MoI,NaN
68764,JPN,Japan,Asia,Eastern Asia,Victims of intentional homicide,Total,Total,Female,Total,2007,"Rate per 100,000 population",0.430136,GSH 2019 Revision/CTS/SDG/MoI,NaN
82368,JPN,Japan,Asia,Eastern Asia,Victims of intentional homicide,by situational context,Other criminal activities,Total,Total,2007,"Rate per 100,000 population",0.023436,CTS/MoI,NaN
83023,JPN,Japan,Asia,Eastern Asia,Victims of intentional homicide,by situational context,Other criminal activities,Male,Total,2007,"Rate per 100,000 population",0.024021,CTS/MoI,NaN
83646,JPN,Japan,Asia,Eastern Asia,Victims of intentional homicide,by situational context,Other criminal activities,Female,Total,2007,"Rate per 100,000 population",0.022880,CTS/MoI,NaN
110778,JPN,Japan,Asia,Eastern Asia,Persons convicted for intentional homicide,Total,Total,Total,Total,2007,"Rate per 100,000 population",0.259362,CTS/MoI,NaN

In [140]:
#Selecting countries of interest
#New array because this dataset splits Britain into three sections. Will need to combine to match other datasets 
crimeCountryCodes = [
    'AUS', 'AUT', 'BEL', 'CAN', 'HRV', 
    'CZE', 'DNK', 'EST', 'FIN', 'FRA', 
    'DEU', 'GRC', 'HUN', 'ISL', 'ISR', 
    'ITA', 'JPN', 'KOR', 'LVA', 'LTU', 
    'LUX', 'NLD', 'NZL', 'NOR', 'POL', 
    'PRT', 'SVK', 'SVN', 'ESP', 'SWE', 
    'CHE', 'GBR', 'USA', 
    'GBR_E_W', 'GBR_NI', 'GBR_S'
]
homSelectCountries = homRawData[homRawData['Iso3_code'].isin(crimeCountryCodes)]
homSelectCountries.head(20)

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source,Unnamed: 13
1,CHE,Switzerland,Europe,Western Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,28.0,CTS,NaN
3,CZE,Czechia,Europe,Eastern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,69.0,CTS,NaN
4,DEU,Germany,Europe,Western Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,455.0,CTS,NaN
5,FIN,Finland,Europe,Northern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,70.0,CTS,NaN
8,HUN,Hungary,Europe,Eastern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,229.0,CTS,NaN
9,ISL,Iceland,Europe,Northern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,1.0,CTS,NaN
10,ITA,Italy,Europe,Southern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,864.0,CTS,NaN
11,JPN,Japan,Asia,Eastern Asia,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,259.0,CTS,NaN
13,LTU,Lithuania,Europe,Northern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,173.0,CTS,NaN
15,NOR,Norway,Europe,Northern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,16.0,CTS,NaN
17,SVK,Slovakia,Europe,Eastern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,53.0,CTS,NaN
18,SVN,Slovenia,Europe,Southern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,16.0,CTS,NaN
21,CHE,Switzerland,Europe,Western Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2014,Counts,26.0,CTS,NaN
23,CZE,Czechia,Europe,Eastern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2014,Counts,55.0,CTS,NaN
24,DEU,Germany,Europe,Western Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2014,Counts,489.0,CTS,NaN
25,FIN,Finland,Europe,Northern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2014,Counts,66.0,CTS,NaN
28,HUN,Hungary,Europe,Eastern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2014,Counts,204.0,CTS,NaN
29,ISL,Iceland,Europe,Northern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2014,Counts,1.0,CTS,NaN
30,ITA,Italy,Europe,Southern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2014,Counts,806.0,CTS,NaN
31,JPN,Japan,Asia,Eastern Asia,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2014,Counts,243.0,CTS,NaN

In [141]:
homSelectCountries['Iso3_code'].unique()

array(['CHE', 'CZE', 'DEU', 'FIN', 'HUN', 'ISL', 'ITA', 'JPN', 'LTU',
       'NOR', 'SVK', 'SVN', 'AUT', 'BEL', 'DNK', 'FRA', 'GRC', 'ESP',
       'HRV', 'LVA', 'CAN', 'AUS', 'EST', 'GBR_E_W', 'GBR_NI', 'GBR_S',
       'ISR', 'KOR', 'NLD', 'NZL', 'POL', 'PRT', 'SWE', 'USA', 'LUX'],
      dtype=object)

In [142]:
'''
This cell was used for brainstorming.
Left for archival purposes, it will likely hold little value to anyone other than the original author. 
'''
        #  #Need to combine/average GBR_E_W, GBR_NI, and GBR_S. Find rows with matching year and unit of measurement. 
        # gbrCountriesHom = homSelectCountries[homSelectCountries['Iso3_code'].str.contains('GBR')]
        # gbrCountriesHom = gbrCountriesHom[gbrCountriesHom['Year'] > 2006]
        # GbrHomAvg = pd.DataFrame()
        # gbr_E_W_df = gbrCountriesHom[gbrCountriesHom['Iso3_code'] == 'GBR_E_W']
        # gbr_NI_df = gbrCountriesHom[gbrCountriesHom['Iso3_code'] == 'GBR_NI']
        # gbr_S_df = gbrCountriesHom[gbrCountriesHom['Iso3_code'] == 'GBR_S']

        # gbr_E_W_df.reset_index(drop=True, inplace=True)
        # gbr_NI_df.reset_index(drop=True, inplace=True)
        # gbr_S_df.reset_index(drop=True, inplace=True)

        # gbr_avg_df = pd.DataFrame(columns=gbr_E_W_df.columns)

        # Way inefficient!!
        # for index1, row1 in gbr_E_W_df.iterrows():
        #     bFound1 = False
        #     bFound2 = False

        #     for index2, row2 in gbr_NI_df.iterrows():
        #         if row1['Year'] == row2['Year'] and row1['Unit of measurement'] == row2['Unit of measurement']:  

        #             for index3, row3 in gbr_S_df.iterrows():
        #                     if row2['Year'] == row3['Year'] and row2['Unit of measurement'] == row3['Unit of measurement']:
        #                         avgValue = ((row1['VALUE'] + row2['VALUE'] + row3['VALUE']) / 3)
        #                         gbr_avg_df = pd.concat([gbr_avg_df, row1], ignore_index=True)
        #                         # gbr_avg_df.iloc[index1]['VALUE'] = avgValue
        #                         gbr_avg_df.at[index1, 'VALUE'] = avgValue
        #                         if bFound1 == False: 
        #                             bFound1 = True
        #                         else:
        #                             bFound2 = True
        #                         if bFound1 and bFound2:
        #                             break
                                    
                            # gbrCountriesHom[[index1]]['VALUE'] = (row1['VALUE'] * row2['VALUE']) / 2

'\nThis cell was used for brainstorming.\nLeft for archival purposes, it will likely hold little value to anyone other than the original author. \n'

In [143]:
#Need to combine/average GBR_E_W, GBR_NI, and GBR_S. Find rows with matching year and unit of measurement. 
#Choosing to focus on stats of victims of intentional homicide because not all criminals are convicted and varying justice systems will skew conviction rates. 

gbrCountriesHom = homSelectCountries[homSelectCountries['Iso3_code'].str.contains('GBR')]
gbrCountriesHom = gbrCountriesHom[((gbrCountriesHom['Year'] > 2006) & (gbrCountriesHom['Sex'] == 'Total') & (gbrCountriesHom['Dimension'] == 'Total')
                                    & (gbrCountriesHom['Indicator'] == 'Victims of intentional homicide'))]

gbrHomByCount = gbrCountriesHom[gbrCountriesHom['Unit of measurement'] == 'Counts']
gbrHomPerPop = gbrCountriesHom[gbrCountriesHom['Unit of measurement'] == 'Rate per 100,000 population']

gbrHomByCount.reset_index(drop=True, inplace=True)
gbrHomPerPop.reset_index(drop=True, inplace=True)

gbrHomByCount.head()

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source,Unnamed: 13
0,GBR_E_W,United Kingdom (England and Wales),Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2007,Counts,730.0,SDG/CTS,NaN
1,GBR_NI,United Kingdom (Northern Ireland),Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2007,Counts,29.0,MD Adjusted/UNSDC/Eurostat/SDG/CTS/GSH 2023 Re...,NaN
2,GBR_S,United Kingdom (Scotland),Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2007,Counts,115.0,MD Adjusted/UNSDC/Eurostat/SDG/NSO/CTS,NaN
3,GBR_E_W,United Kingdom (England and Wales),Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2008,Counts,637.0,SDG/CTS,NaN
4,GBR_NI,United Kingdom (Northern Ireland),Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2008,Counts,24.0,MD Adjusted/UNSDC/Eurostat/SDG/CTS/GSH 2023 Re...,NaN

In [144]:
gbrS_HomByUnit = gbrHomByCount[gbrHomByCount['Iso3_code'] == 'GBR_S']
gbrS_HomByUnit.reset_index(drop=True, inplace=True)
gbrS_HomByUnit.head()

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source,Unnamed: 13
0,GBR_S,United Kingdom (Scotland),Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2007,Counts,115.0,MD Adjusted/UNSDC/Eurostat/SDG/NSO/CTS,NaN
1,GBR_S,United Kingdom (Scotland),Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2008,Counts,99.0,MD Adjusted/UNSDC/Eurostat/SDG/NSO/CTS,NaN
2,GBR_S,United Kingdom (Scotland),Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2009,Counts,82.0,MD Adjusted/UNSDC/Eurostat/SDG/NSO/CTS,NaN
3,GBR_S,United Kingdom (Scotland),Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2010,Counts,100.0,MD Adjusted/UNSDC/Eurostat/SDG/NSO/CTS,NaN
4,GBR_S,United Kingdom (Scotland),Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2011,Counts,93.0,MD Adjusted/UNSDC/Eurostat/SDG/NSO/CTS,NaN

In [145]:
gbrEW_HomByUnit = gbrHomByCount[gbrHomByCount['Iso3_code'] == 'GBR_E_W']
gbrEW_HomByUnit.reset_index(drop=True, inplace=True)
gbrEW_HomByUnit.head()

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source,Unnamed: 13
0,GBR_E_W,United Kingdom (England and Wales),Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2007,Counts,730.0,SDG/CTS,NaN
1,GBR_E_W,United Kingdom (England and Wales),Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2008,Counts,637.0,SDG/CTS,NaN
2,GBR_E_W,United Kingdom (England and Wales),Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2009,Counts,592.0,SDG/CTS,NaN
3,GBR_E_W,United Kingdom (England and Wales),Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2010,Counts,632.0,SDG/CTS,NaN
4,GBR_E_W,United Kingdom (England and Wales),Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2011,Counts,525.0,SDG/CTS,NaN

In [146]:
gbrNI_HomByUnit = gbrHomByCount[gbrHomByCount['Iso3_code'] == 'GBR_NI']
gbrNI_HomByUnit.reset_index(inplace=True, drop=True)
gbrNI_HomByUnit.head()

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source,Unnamed: 13
0,GBR_NI,United Kingdom (Northern Ireland),Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2007,Counts,29.0,MD Adjusted/UNSDC/Eurostat/SDG/CTS/GSH 2023 Re...,NaN
1,GBR_NI,United Kingdom (Northern Ireland),Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2008,Counts,24.0,MD Adjusted/UNSDC/Eurostat/SDG/CTS/GSH 2023 Re...,NaN
2,GBR_NI,United Kingdom (Northern Ireland),Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2009,Counts,29.0,MD Adjusted/UNSDC/Eurostat/SDG/CTS/GSH 2023 Re...,NaN
3,GBR_NI,United Kingdom (Northern Ireland),Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2010,Counts,23.0,MD Adjusted/UNSDC/Eurostat/SDG/CTS/GSH 2023 Re...,NaN
4,GBR_NI,United Kingdom (Northern Ireland),Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2011,Counts,22.0,MD Adjusted/UNSDC/Eurostat/SDG/CTS/GSH 2023 Re...,NaN

In [147]:
'''
This cell was used for brainstorming. 
Left for archival purposes but will likely hold very little value to anyone other than the author.
'''     
        #Add like rows together, then divide all Values by 3 
        #Try Adding and extra row to data frame by manually crafting all columns using new avg, new iso3_code, and values from row in loop

        # yearsUsed = []
        # for index, row in GbrAvgCounts.iterrows():
        #     if row['Year'] not in yearsUsed:
        #         # GbrAvgCounts = pd.concat([GbrAvgCounts, row])
        #         yearsUsed.append(row['Year'])
        #         GbrAvgByYear = gbrHomByCount[gbrHomByCount['Year'] == row['Year']]
        #         print(GbrAvgByYear)
        #         avgVal = GbrAvgByYear['VALUE'].add()
        #         GbrAvgCounts.at[index, 'VALUE'] = avgVal
        #         print(avgVal)
            # gbrSrow = gbrS_HomByUnit[gbrS_HomByUnit['Year'] == row['Year']]
            # gbrNIrow = gbrNI_HomByUnit[gbrNI_HomByUnit['Year'] == row['Year']]
            # gbrEWrow = gbrEW_HomByUnit[gbrEW_HomByUnit['Year'] == row['Year']]
            # avgVal = (gbrNIrow['VALUE'] + gbrSrow['VALUE'] + gbrEWrow['VALUE']) / 3
            # print(yearsUsed)

'\nThis cell was used for brainstorming. \nLeft for archival purposes but will likely hold very little value to anyone other than the author.\n'

In [148]:
GbrAvgCounts = pd.DataFrame(columns=gbrHomByCount.columns)
for year in range(2007, 2022):
    GbrAvgByYear = gbrHomByCount[gbrHomByCount['Year'] == year]
    totalVal = GbrAvgByYear['VALUE'].sum()
    new_row = pd.DataFrame([{'Iso3_code':'GBR', 'Country':'United Kingdom', 'Region':'Europe', 'Subregion':'Northern Europe', 
                             'Indicator':'Victims of intentional homicide', 'Dimension':'Total', 'Category':'Total', 'Sex':'Total', 'Age':'Total', 'Year':year, 
                             'Unit of measurement': 'Counts', 'VALUE':totalVal, 'Source': 'Combination'}])
    GbrAvgCounts = pd.concat([GbrAvgCounts, new_row], ignore_index=True)

In [149]:
GbrAvgCounts.head(20)

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source,Unnamed: 13
0,GBR,United Kingdom,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2007,Counts,874.0,Combination,NaN
1,GBR,United Kingdom,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2008,Counts,760.0,Combination,NaN
2,GBR,United Kingdom,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2009,Counts,703.0,Combination,NaN
3,GBR,United Kingdom,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2010,Counts,755.0,Combination,NaN
4,GBR,United Kingdom,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2011,Counts,640.0,Combination,NaN
5,GBR,United Kingdom,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2012,Counts,626.0,Combination,NaN
6,GBR,United Kingdom,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2013,Counts,603.0,Combination,NaN
7,GBR,United Kingdom,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2014,Counts,584.0,Combination,NaN
8,GBR,United Kingdom,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2015,Counts,622.0,Combination,NaN
9,GBR,United Kingdom,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2016,Counts,759.0,Combination,NaN
10,GBR,United Kingdom,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2017,Counts,779.0,Combination,NaN
11,GBR,United Kingdom,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2018,Counts,723.0,Combination,NaN
12,GBR,United Kingdom,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2019,Counts,768.0,Combination,NaN
13,GBR,United Kingdom,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2020,Counts,674.0,Combination,NaN
14,GBR,United Kingdom,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2021,Counts,770.0,Combination,NaN

In [150]:
crimeCountriesCombinedGbr = [
    'AUS', 'AUT', 'BEL', 'CAN', 'HRV', 
    'CZE', 'DNK', 'EST', 'FIN', 'FRA', 
    'DEU', 'GRC', 'HUN', 'ISL', 'ISR', 
    'ITA', 'JPN', 'KOR', 'LVA', 'LTU', 
    'LUX', 'NLD', 'NZL', 'NOR', 'POL', 
    'PRT', 'SVK', 'SVN', 'ESP', 'SWE', 
    'CHE', 'GBR', 'USA',
]
#combining our new combined GBR values
homSelectCountries = pd.concat([homSelectCountries, GbrAvgCounts], ignore_index=True)

In [151]:
#Filtering out the other GBR sub categories
homSelectCountries = homSelectCountries[homSelectCountries['Iso3_code'].isin(crimeCountriesCombinedGbr)]

In [152]:
#checking that we have all of and only the GBR sum values
homSelectCountries[homSelectCountries['Iso3_code'].str.contains('GBR')]

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source,Unnamed: 13
41693,GBR,United Kingdom,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2007,Counts,874.0,Combination,NaN
41694,GBR,United Kingdom,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2008,Counts,760.0,Combination,NaN
41695,GBR,United Kingdom,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2009,Counts,703.0,Combination,NaN
41696,GBR,United Kingdom,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2010,Counts,755.0,Combination,NaN
41697,GBR,United Kingdom,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2011,Counts,640.0,Combination,NaN
41698,GBR,United Kingdom,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2012,Counts,626.0,Combination,NaN
41699,GBR,United Kingdom,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2013,Counts,603.0,Combination,NaN
41700,GBR,United Kingdom,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2014,Counts,584.0,Combination,NaN
41701,GBR,United Kingdom,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2015,Counts,622.0,Combination,NaN
41702,GBR,United Kingdom,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2016,Counts,759.0,Combination,NaN
41703,GBR,United Kingdom,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2017,Counts,779.0,Combination,NaN
41704,GBR,United Kingdom,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2018,Counts,723.0,Combination,NaN
41705,GBR,United Kingdom,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2019,Counts,768.0,Combination,NaN
41706,GBR,United Kingdom,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2020,Counts,674.0,Combination,NaN
41707,GBR,United Kingdom,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2021,Counts,770.0,Combination,NaN

In [153]:
homSelectData = homSelectCountries[((homSelectCountries['Year'] > 2006) & (homSelectCountries['Sex'] == 'Total') & (homSelectCountries['Dimension'] == 'Total')
                                    & (homSelectCountries['Indicator'] == 'Victims of intentional homicide') & (homSelectCountries['Unit of measurement'] == 'Counts'))]
homSelectData.head()

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source,Unnamed: 13
1179,AUS,Australia,Oceania,Australia and New Zealand,Victims of intentional homicide,Total,Total,Total,Total,2007,Counts,255.0,MD/Eurostat/GSH 2019 Revision/CTS,NaN
1180,AUT,Austria,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2007,Counts,45.0,UNSDC/Eurostat/CTS/GSH 2023 Revision,NaN
1181,CAN,Canada,Americas,Northern America,Victims of intentional homicide,Total,Total,Total,Total,2007,Counts,597.0,NSO/OAS/CTS/SDG/GSH 2023 Revision,NaN
1182,CZE,Czechia,Europe,Eastern Europe,Victims of intentional homicide,Total,Total,Total,Total,2007,Counts,126.0,Eurostat/UNSDC/GSH 2019 Revision/CTS,NaN
1183,DEU,Germany,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2007,Counts,888.0,SDG/CTS/NP,NaN

In [154]:
homSelectData.info()

<class 'pandas.core.frame.DataFrame'>
Index: 486 entries, 1179 to 41707
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Iso3_code            486 non-null    object
 1   Country              486 non-null    object
 2   Region               486 non-null    object
 3   Subregion            486 non-null    object
 4   Indicator            486 non-null    object
 5   Dimension            486 non-null    object
 6   Category             486 non-null    object
 7   Sex                  486 non-null    object
 8   Age                  486 non-null    object
 9   Year                 486 non-null    object
 10  Unit of measurement  486 non-null    object
 11  VALUE                486 non-null    float64
 12  Source               486 non-null    object
 13  Unnamed: 13          0 non-null      float64
dtypes: float64(2), object(12)
memory usage: 57.0+ KB

In [155]:
homSelectData['Iso3_code'].value_counts()

Iso3_code
AUS    16
ISR    16
USA    16
SWE    16
SVN    16
SVK    16
NOR    16
NLD    16
LUX    16
LTU    16
AUT    16
ITA    16
KOR    16
ESP    16
HRV    16
GRC    16
CAN    16
FIN    16
HUN    16
ISL    15
POL    15
CZE    15
DEU    15
EST    15
FRA    15
JPN    15
GBR    15
CHE    14
DNK    13
PRT    12
NZL    11
LVA    11
BEL     1
Name: count, dtype: int64

In [156]:
#investigating why belgium only has one value
homSelectData[homSelectData['Iso3_code'] == 'BEL']

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source,Unnamed: 13
1639,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2021,Counts,125.0,WHO Adjusted/UNSDC/Eurostat/MoI,NaN

In [157]:
#belgium has little data for aggregate male and female victims. Compiling the male and female into one frame to be summed together
BelHomSelect = homSelectCountries[(homSelectCountries['Iso3_code'] == 'BEL') & (homSelectCountries['Indicator'] == 'Victims of intentional homicide') & 
                   (homSelectCountries['Unit of measurement'] == 'Counts') & (homSelectCountries['Year'] > 2006) &
                   (homSelectCountries['Year'] < 2023)]
BelHomSelect = BelHomSelect[(BelHomSelect['Sex'] == 'Male') | (BelHomSelect['Sex'] == 'Female')]
BelHomSelect.head(60)

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source,Unnamed: 13
2104,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Male,Total,2007,Counts,123.643312,MD/MoH Adjusted/MoI,NaN
2136,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Male,Total,2008,Counts,131.632812,MD/MoH Adjusted/MoI,NaN
2166,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Male,Total,2009,Counts,112.835821,MD/MoH Adjusted/MoI,NaN
2198,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Male,Total,2010,Counts,119.538462,MD/MoH Adjusted/MoI,NaN
2230,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Male,Total,2011,Counts,121.657534,MD/MoH Adjusted/MoI,NaN
2263,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Male,Total,2012,Counts,127.730769,MD/MoH Adjusted/MoI,NaN
2297,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Male,Total,2013,Counts,106.227273,MD/MoH Adjusted/MoI,NaN
2331,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Male,Total,2014,Counts,128.947368,MD/MoH Adjusted/MoI,NaN
2365,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Male,Total,2015,Counts,126.000000,MD/MoH Adjusted/MoI,NaN
2399,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Male,Total,2016,Counts,107.000000,MD/MoH Adjusted/MoI,NaN
2433,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Male,Total,2017,Counts,106.000000,MD/MoH Adjusted/MoI,NaN
2467,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Male,Total,2018,Counts,117.000000,MD/MoH Adjusted/MoI,NaN
2499,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Male,Total,2019,Counts,91.000000,MD/MoH Adjusted/MoI,NaN
2565,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Male,Total,2021,Counts,114.000000,MD/MoH Adjusted/MoI,NaN
3028,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Female,Total,2007,Counts,87.356688,MD/MoH Adjusted/MoI,NaN
3060,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Female,Total,2008,Counts,71.367188,MD/MoH Adjusted/MoI,NaN
3090,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Female,Total,2009,Counts,76.164179,MD/MoH Adjusted/MoI,NaN
3122,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Female,Total,2010,Counts,69.461538,MD/MoH Adjusted/MoI,NaN
3154,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Female,Total,2011,Counts,92.342466,MD/MoH Adjusted/MoI,NaN
3187,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Female,Total,2012,Counts,77.269231,MD/MoH Adjusted/MoI,NaN
3221,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Female,Total,2013,Counts,98.772727,MD/MoH Adjusted/MoI,NaN
3255,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Female,Total,2014,Counts,81.052632,MD/MoH Adjusted/MoI,NaN
3289,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Female,Total,2015,Counts,105.000000,MD/MoH Adjusted/MoI,NaN
3323,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Female,Total,2016,Counts,67.000000,MD/MoH Adjusted/MoI,NaN
3357,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Female,Total,2017,Counts,92.000000,MD/MoH Adjusted/MoI,NaN
3391,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Female,Total,2018,Counts,73.000000,MD/MoH Adjusted/MoI,NaN
3423,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Female,Total,2019,Counts,55.000000,MD/MoH Adjusted/MoI,NaN
3489,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Female,Total,2021,Counts,11.000000,MD/MoH Adjusted/MoI,NaN

In [158]:
BelSexSum = pd.DataFrame(columns=homSelectData.columns)

for year in range(2007,2023):
    belSumByYear = BelHomSelect[BelHomSelect['Year'] == year]
    totalVal = belSumByYear['VALUE'].sum()
    new_row = pd.DataFrame([{'Iso3_code':'BEL', 'Country':'Belgium', 'Region':'Europe', 'Subregion':'Western Europe', 
                             'Indicator':'Victims of intentional homicide', 'Dimension':'Total', 'Category':'Total', 'Sex':'Total', 'Age':'Total', 'Year':year, 
                             'Unit of measurement': 'Counts', 'VALUE':totalVal, 'Source': 'Combination'}])
    BelSexSum = pd.concat([BelSexSum, new_row], ignore_index=True)

In [159]:
BelSexSum = BelSexSum[BelSexSum['Year'] < 2022]
BelSexSum.head(60)

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source,Unnamed: 13
0,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2007,Counts,211.0,Combination,NaN
1,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2008,Counts,203.0,Combination,NaN
2,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2009,Counts,189.0,Combination,NaN
3,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2010,Counts,189.0,Combination,NaN
4,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2011,Counts,214.0,Combination,NaN
5,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2012,Counts,205.0,Combination,NaN
6,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2013,Counts,205.0,Combination,NaN
7,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2014,Counts,210.0,Combination,NaN
8,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2015,Counts,231.0,Combination,NaN
9,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2016,Counts,174.0,Combination,NaN
10,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2017,Counts,198.0,Combination,NaN
11,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2018,Counts,190.0,Combination,NaN
12,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2019,Counts,146.0,Combination,NaN
13,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2020,Counts,0.0,Combination,NaN
14,BEL,Belgium,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2021,Counts,125.0,Combination,NaN

In [160]:
BelHomInvestgate = homSelectCountries[(homSelectCountries['Iso3_code'] == 'BEL') & 
                   (homSelectCountries['Dimension'] == 'Total') & (homSelectCountries['Year'] == 2020) & (homSelectCountries['Unit of measurement'] == 'Counts')]
Bel2020HomSum = BelHomInvestgate['VALUE'].sum()
print(Bel2020HomSum)
BelHomInvestgate.head(100)

83.0

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source,Unnamed: 13
18673,BEL,Belgium,Europe,Western Europe,Persons arrested/suspected for intentional hom...,Total,Total,Male,15 -17,2020,Counts,7.0,CTS,NaN
19076,BEL,Belgium,Europe,Western Europe,Persons arrested/suspected for intentional hom...,Total,Total,Male,18-19,2020,Counts,3.0,CTS,NaN
19460,BEL,Belgium,Europe,Western Europe,Persons arrested/suspected for intentional hom...,Total,Total,Male,20-24,2020,Counts,14.0,CTS,NaN
19936,BEL,Belgium,Europe,Western Europe,Persons arrested/suspected for intentional hom...,Total,Total,Male,25-29,2020,Counts,13.0,CTS,NaN
20217,BEL,Belgium,Europe,Western Europe,Persons arrested/suspected for intentional hom...,Total,Total,Female,25-29,2020,Counts,2.0,CTS,NaN
20502,BEL,Belgium,Europe,Western Europe,Persons arrested/suspected for intentional hom...,Total,Total,Male,30-44,2020,Counts,23.0,CTS,NaN
20783,BEL,Belgium,Europe,Western Europe,Persons arrested/suspected for intentional hom...,Total,Total,Female,30-44,2020,Counts,3.0,CTS,NaN
21066,BEL,Belgium,Europe,Western Europe,Persons arrested/suspected for intentional hom...,Total,Total,Male,45-59,2020,Counts,14.0,CTS,NaN
21637,BEL,Belgium,Europe,Western Europe,Persons arrested/suspected for intentional hom...,Total,Total,Male,60 and older,2020,Counts,3.0,CTS,NaN
21920,BEL,Belgium,Europe,Western Europe,Persons arrested/suspected for intentional hom...,Total,Total,Female,60 and older,2020,Counts,1.0,CTS,NaN

In [161]:
BelHomInvestgate = homSelectCountries[(homSelectCountries['Iso3_code'] == 'BEL') &
                   (homSelectCountries['Dimension'] == 'Total') & (homSelectCountries['Year'] == 2008) & (homSelectCountries['Unit of measurement'] == 'Counts') &
                   (homSelectCountries['Indicator'] == 'Persons arrested/suspected for intentional homicide')]
BelYearSum = BelHomInvestgate['VALUE'].sum()
print(BelYearSum)
BelHomInvestgate.head(100)

129.0

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source,Unnamed: 13
19701,BEL,Belgium,Europe,Western Europe,Persons arrested/suspected for intentional hom...,Total,Total,Male,25-29,2008,Counts,18.0,CTS,NaN
19988,BEL,Belgium,Europe,Western Europe,Persons arrested/suspected for intentional hom...,Total,Total,Female,25-29,2008,Counts,4.0,CTS,NaN
20269,BEL,Belgium,Europe,Western Europe,Persons arrested/suspected for intentional hom...,Total,Total,Male,30-44,2008,Counts,52.0,CTS,NaN
20551,BEL,Belgium,Europe,Western Europe,Persons arrested/suspected for intentional hom...,Total,Total,Female,30-44,2008,Counts,9.0,CTS,NaN
20832,BEL,Belgium,Europe,Western Europe,Persons arrested/suspected for intentional hom...,Total,Total,Male,45-59,2008,Counts,28.0,CTS,NaN
21118,BEL,Belgium,Europe,Western Europe,Persons arrested/suspected for intentional hom...,Total,Total,Female,45-59,2008,Counts,7.0,CTS,NaN
21400,BEL,Belgium,Europe,Western Europe,Persons arrested/suspected for intentional hom...,Total,Total,Male,60 and older,2008,Counts,8.0,CTS,NaN
21689,BEL,Belgium,Europe,Western Europe,Persons arrested/suspected for intentional hom...,Total,Total,Female,60 and older,2008,Counts,3.0,CTS,NaN

In [162]:

for year in range(2007, 2023):
    BelHomInvestgate = homSelectCountries[(homSelectCountries['Iso3_code'] == 'BEL') &
                    (homSelectCountries['Dimension'] == 'Total') & (homSelectCountries['Year'] == year) & (homSelectCountries['Unit of measurement'] == 'Counts') &
                    (homSelectCountries['Indicator'] == 'Persons arrested/suspected for intentional homicide')]
    BelYearSum = BelHomInvestgate['VALUE'].sum()
    print(year, ' : ', BelYearSum)

2007  :  0.0
2008  :  129.0
2009  :  145.0
2010  :  124.0
2011  :  159.0
2012  :  136.0
2013  :  157.0
2014  :  128.0
2015  :  135.0
2016  :  110.0
2017  :  109.0
2018  :  102.0
2019  :  73.0
2020  :  83.0
2021  :  0.0
2022  :  0.0

In [163]:
for year in range(2007, 2023):
    BelHomInvestgate = homSelectCountries[(homSelectCountries['Iso3_code'] == 'BEL') &
                    (homSelectCountries['Dimension'] == 'Total') & (homSelectCountries['Year'] == year) & (homSelectCountries['Unit of measurement'] == 'Counts') &
                    (homSelectCountries['Indicator'] == 'Victims of intentional homicide')]
    BelYearSum = BelHomInvestgate['VALUE'].sum()
    print(year, ' : ', BelYearSum)

2007  :  211.0000000000002
2008  :  203.0
2009  :  188.9999999999996
2010  :  189.0000000000005
2011  :  213.99999999999972
2012  :  204.9999999999998
2013  :  205.00000000000028
2014  :  210.0000000000004
2015  :  231.0
2016  :  174.0
2017  :  198.0
2018  :  190.0
2019  :  146.0
2020  :  0.0
2021  :  250.0
2022  :  0.0

In [164]:
'''
Deciding to move on without homicide data for 2020 Belgium
Will Make Note that 2020 needed to be disregarded. 
'''
homSelectData = pd.concat([homSelectData, BelSexSum], ignore_index=True)

In [165]:
homSelectData.drop(homSelectData[(homSelectData['Iso3_code'] == 'BEL') & (homSelectData['Source'] == 'WHO Adjusted/UNSDC/Eurostat/MoI') & (homSelectData['Year'] == 2021)].index, inplace=True)

In [166]:
homSelectData['Iso3_code'].value_counts()

Iso3_code
AUS    16
ISR    16
USA    16
SWE    16
SVN    16
SVK    16
NOR    16
NLD    16
LUX    16
LTU    16
AUT    16
ITA    16
KOR    16
HUN    16
HRV    16
GRC    16
FIN    16
CAN    16
ESP    16
ISL    15
GBR    15
POL    15
CZE    15
DEU    15
EST    15
FRA    15
JPN    15
BEL    15
CHE    14
DNK    13
PRT    12
NZL    11
LVA    11
Name: count, dtype: int64

In [184]:
#Selecting only Denmark data for total victims by sex to add together to get total
DnkBySex = homSelectCountries[(homSelectCountries['Iso3_code'] == 'DNK') & (homSelectCountries['Year'] > 2006) & 
                                 (homSelectCountries['Unit of measurement'] == 'Counts') & (homSelectCountries['Indicator'] == 'Victims of intentional homicide') &
                                 (homSelectCountries['Age'] == 'Total') & (homSelectCountries['Dimension'] == 'Total')]
DnkBySex = DnkBySex[(DnkBySex['Sex'] == 'Male') | (DnkBySex['Sex'] == 'Female')]
DnkBySex.head(100)

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source,Unnamed: 13
2109,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Male,Total,2007,Counts,22.000000,GSH 2019 Revision/MD/CTS,NaN
2141,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Male,Total,2008,Counts,36.818182,GSH 2019 Revision/MD/CTS,NaN
2171,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Male,Total,2009,Counts,33.000000,GSH 2019 Revision/MD/CTS,NaN
2203,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Male,Total,2010,Counts,20.000000,GSH 2019 Revision/MD/CTS,NaN
2235,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Male,Total,2011,Counts,31.000000,GSH 2019 Revision/MD/CTS,NaN
2268,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Male,Total,2012,Counts,31.000000,GSH 2019 Revision/MD/CTS,NaN
2302,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Male,Total,2013,Counts,35.000000,GSH 2019 Revision/MD/CTS,NaN
2336,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Male,Total,2014,Counts,43.000000,GSH 2019 Revision/MD/CTS,NaN
2370,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Male,Total,2015,Counts,38.622951,GSH 2019 Revision/MD/CTS,NaN
2404,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Male,Total,2016,Counts,33.000000,GSH 2019 Revision/MD/CTS,NaN
2438,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Male,Total,2017,Counts,51.000000,GSH 2019 Revision/MD/CTS,NaN
2471,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Male,Total,2018,Counts,38.000000,GSH 2019 Revision/MD/CTS,NaN
2504,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Male,Total,2019,Counts,26.000000,GSH 2019 Revision/MD/CTS,NaN
2537,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Male,Total,2020,Counts,33.000000,GSH 2019 Revision/MD/CTS,NaN
2570,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Male,Total,2021,Counts,23.000000,GSH 2019 Revision/MD/CTS,NaN
2600,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Male,Total,2022,Counts,35.000000,GSH 2019 Revision/MD/CTS,NaN
3033,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Female,Total,2007,Counts,17.000000,GSH 2019 Revision/MD/CTS,NaN
3065,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Female,Total,2008,Counts,17.181818,GSH 2019 Revision/MD/CTS,NaN
3095,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Female,Total,2009,Counts,14.000000,GSH 2019 Revision/MD/CTS,NaN
3127,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Female,Total,2010,Counts,22.000000,GSH 2019 Revision/MD/CTS,NaN
3159,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Female,Total,2011,Counts,15.000000,GSH 2019 Revision/MD/CTS,NaN
3192,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Female,Total,2012,Counts,16.000000,GSH 2019 Revision/MD/CTS,NaN
3226,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Female,Total,2013,Counts,13.000000,GSH 2019 Revision/MD/CTS,NaN
3260,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Female,Total,2014,Counts,31.000000,GSH 2019 Revision/MD/CTS,NaN
3294,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Female,Total,2015,Counts,23.377049,GSH 2019 Revision/MD/CTS,NaN
3328,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Female,Total,2016,Counts,23.000000,GSH 2019 Revision/MD/CTS,NaN
3362,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Female,Total,2017,Counts,20.000000,GSH 2019 Revision/MD/CTS,NaN
3395,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Female,Total,2018,Counts,20.000000,GSH 2019 Revision/MD/CTS,NaN
3428,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Female,Total,2019,Counts,24.000000,GSH 2019 Revision/MD/CTS,NaN
3461,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Female,Total,2020,Counts,15.000000,GSH 2019 Revision/MD/CTS,NaN
3494,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Female,Total,2021,Counts,14.000000,GSH 2019 Revision/MD/CTS,NaN
3524,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Female,Total,2022,Counts,23.000000,GSH 2019 Revision/MD/CTS,NaN

In [187]:
DnkSexSum = pd.DataFrame(columns=homSelectData.columns)

#Adding total victims by sex together to get complete total victims
for year in range(2007, 2023):
    dnkSumByYear = DnkBySex[DnkBySex['Year'] == year]
    totalVal = dnkSumByYear['VALUE'].sum()
    new_row = pd.DataFrame([{'Iso3_code':'DNK', 'Country':'Denmark', 'Region':'Europe', 'Subregion':'Northern Europe', 
                             'Indicator':'Victims of intentional homicide', 'Dimension':'Total', 'Category':'Total', 'Sex':'Total', 'Age':'Total', 'Year':year, 
                             'Unit of measurement': 'Counts', 'VALUE':totalVal, 'Source': 'Combination', 'Unnamed: 13': 'Sum of Sex Total'}])
    DnkSexSum = pd.concat([DnkSexSum, new_row], ignore_index=True)

In [188]:
DnkSexSum.head(20)

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source,Unnamed: 13
0,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2007,Counts,39.0,Combination,Sum of Sex Total
1,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2008,Counts,54.0,Combination,Sum of Sex Total
2,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2009,Counts,47.0,Combination,Sum of Sex Total
3,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2010,Counts,42.0,Combination,Sum of Sex Total
4,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2011,Counts,46.0,Combination,Sum of Sex Total
5,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2012,Counts,47.0,Combination,Sum of Sex Total
6,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2013,Counts,48.0,Combination,Sum of Sex Total
7,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2014,Counts,74.0,Combination,Sum of Sex Total
8,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2015,Counts,62.0,Combination,Sum of Sex Total
9,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2016,Counts,56.0,Combination,Sum of Sex Total
10,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2017,Counts,71.0,Combination,Sum of Sex Total
11,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2018,Counts,58.0,Combination,Sum of Sex Total
12,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2019,Counts,50.0,Combination,Sum of Sex Total
13,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2020,Counts,48.0,Combination,Sum of Sex Total
14,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2021,Counts,37.0,Combination,Sum of Sex Total
15,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2022,Counts,58.0,Combination,Sum of Sex Total

In [189]:
#Adding DNK Totals back into HomSelectData
homSelectData = pd.concat([homSelectData, DnkSexSum], ignore_index=True)

In [190]:
homSelectData.drop(homSelectData[(homSelectData['Unnamed: 13'] != 'Sum of Sex Total') & (homSelectData['Iso3_code'] == 'DNK') & 
                                 (homSelectData['Country'] != 'Denmark')].index, inplace=True)

In [193]:
homSelectData.drop(homSelectData[(homSelectData['Iso3_code'] == 'DNK') & (homSelectData['Region'] == 'Western Europe') &
                                 (homSelectData['Country'] != 'Denmark')].index, inplace=True)

In [196]:
homSelectData[homSelectData['Iso3_code'] == 'DNK']

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source,Unnamed: 13
503,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2007,Counts,39.0,Combination,Sum of Sex Total
504,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2008,Counts,54.0,Combination,Sum of Sex Total
505,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2009,Counts,47.0,Combination,Sum of Sex Total
506,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2010,Counts,42.0,Combination,Sum of Sex Total
507,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2011,Counts,46.0,Combination,Sum of Sex Total
508,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2012,Counts,47.0,Combination,Sum of Sex Total
509,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2013,Counts,48.0,Combination,Sum of Sex Total
510,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2014,Counts,74.0,Combination,Sum of Sex Total
511,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2015,Counts,62.0,Combination,Sum of Sex Total
512,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2016,Counts,56.0,Combination,Sum of Sex Total
513,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2017,Counts,71.0,Combination,Sum of Sex Total
514,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2018,Counts,58.0,Combination,Sum of Sex Total
515,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2019,Counts,50.0,Combination,Sum of Sex Total
516,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2020,Counts,48.0,Combination,Sum of Sex Total
517,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2021,Counts,37.0,Combination,Sum of Sex Total
518,DNK,Denmark,Europe,Northern Europe,Victims of intentional homicide,Total,Total,Total,Total,2022,Counts,58.0,Combination,Sum of Sex Total

In [178]:
#Looking into portugal PRT
homSelectData[homSelectData['Iso3_code'] == 'PRT']

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source,Unnamed: 13
106,PRT,Portugal,Europe,Southern Europe,Victims of intentional homicide,Total,Total,Total,Total,2010,Counts,124.0,MD Adjusted/Eurostat/SDG/GSH 2023 Revision/CTS,NaN
136,PRT,Portugal,Europe,Southern Europe,Victims of intentional homicide,Total,Total,Total,Total,2011,Counts,114.0,MD Adjusted/Eurostat/SDG/GSH 2023 Revision/CTS,NaN
167,PRT,Portugal,Europe,Southern Europe,Victims of intentional homicide,Total,Total,Total,Total,2012,Counts,122.0,MD Adjusted/Eurostat/SDG/GSH 2023 Revision/CTS,NaN
198,PRT,Portugal,Europe,Southern Europe,Victims of intentional homicide,Total,Total,Total,Total,2013,Counts,144.0,MD Adjusted/Eurostat/SDG/GSH 2023 Revision/CTS,NaN
229,PRT,Portugal,Europe,Southern Europe,Victims of intentional homicide,Total,Total,Total,Total,2014,Counts,92.0,MD Adjusted/Eurostat/SDG/GSH 2023 Revision/CTS,NaN
260,PRT,Portugal,Europe,Southern Europe,Victims of intentional homicide,Total,Total,Total,Total,2015,Counts,100.0,MD Adjusted/Eurostat/SDG/GSH 2023 Revision/CTS,NaN
291,PRT,Portugal,Europe,Southern Europe,Victims of intentional homicide,Total,Total,Total,Total,2016,Counts,66.0,MD Adjusted/Eurostat/SDG/GSH 2023 Revision/CTS,NaN
322,PRT,Portugal,Europe,Southern Europe,Victims of intentional homicide,Total,Total,Total,Total,2017,Counts,76.0,MD Adjusted/Eurostat/SDG/GSH 2023 Revision/CTS,NaN
351,PRT,Portugal,Europe,Southern Europe,Victims of intentional homicide,Total,Total,Total,Total,2018,Counts,81.0,MD Adjusted/Eurostat/SDG/GSH 2023 Revision/CTS,NaN
381,PRT,Portugal,Europe,Southern Europe,Victims of intentional homicide,Total,Total,Total,Total,2019,Counts,73.0,MD Adjusted/Eurostat/SDG/GSH 2023 Revision/CTS,NaN
411,PRT,Portugal,Europe,Southern Europe,Victims of intentional homicide,Total,Total,Total,Total,2020,Counts,81.0,MD Adjusted/Eurostat/SDG/GSH 2023 Revision/CTS,NaN
441,PRT,Portugal,Europe,Southern Europe,Victims of intentional homicide,Total,Total,Total,Total,2021,Counts,82.0,MD Adjusted/Eurostat/SDG/GSH 2023 Revision/CTS,NaN

In [183]:
PrtBySexAndYear = homSelectCountries[(homSelectCountries['Iso3_code'] == 'PRT') & (homSelectCountries['Year'] > 2006) &
                   (homSelectCountries['Age'] == 'Total') & (homSelectCountries['Sex'] != 'Total') &
                   (homSelectCountries['Indicator'] == 'Victims of intentional homicide') & (homSelectCountries['Category'] == 'Total') & 
                   (homSelectCountries['Unit of measurement'] == 'Counts')]

In [199]:
PrtSexSum = pd.DataFrame(columns=homSelectData.columns)

for year in range(2007, 2022):
    PrtByYear = PrtBySexAndYear[PrtBySexAndYear['Year'] == year]
    sumTotal = PrtByYear['VALUE'].sum()
    new_row = pd.DataFrame([{'Iso3_code':'PRT', 'Country':'Portugal', 'Region':'Europe', 'Subregion':'Southern Europe', 
                             'Indicator':'Victims of intentional homicide', 'Dimension':'Total', 'Category':'Total', 'Sex':'Total', 'Age':'Total', 'Year':year, 
                             'Unit of measurement': 'Counts', 'VALUE':sumTotal, 'Source': 'Combination', 'Unnamed: 13': 'Sum of Sex Total'}])
    PrtSexSum = pd.concat([PrtSexSum, new_row], ignore_index=True)

In [200]:
PrtSexSum.head(100)

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source,Unnamed: 13
0,PRT,Portugal,Europe,Southern Europe,Victims of intentional homicide,Total,Total,Total,Total,2007,Counts,185.0,Combination,Sum of Sex Total
1,PRT,Portugal,Europe,Southern Europe,Victims of intentional homicide,Total,Total,Total,Total,2008,Counts,124.0,Combination,Sum of Sex Total
2,PRT,Portugal,Europe,Southern Europe,Victims of intentional homicide,Total,Total,Total,Total,2009,Counts,130.0,Combination,Sum of Sex Total
3,PRT,Portugal,Europe,Southern Europe,Victims of intentional homicide,Total,Total,Total,Total,2010,Counts,124.0,Combination,Sum of Sex Total
4,PRT,Portugal,Europe,Southern Europe,Victims of intentional homicide,Total,Total,Total,Total,2011,Counts,114.0,Combination,Sum of Sex Total
5,PRT,Portugal,Europe,Southern Europe,Victims of intentional homicide,Total,Total,Total,Total,2012,Counts,122.0,Combination,Sum of Sex Total
6,PRT,Portugal,Europe,Southern Europe,Victims of intentional homicide,Total,Total,Total,Total,2013,Counts,144.0,Combination,Sum of Sex Total
7,PRT,Portugal,Europe,Southern Europe,Victims of intentional homicide,Total,Total,Total,Total,2014,Counts,92.0,Combination,Sum of Sex Total
8,PRT,Portugal,Europe,Southern Europe,Victims of intentional homicide,Total,Total,Total,Total,2015,Counts,100.0,Combination,Sum of Sex Total
9,PRT,Portugal,Europe,Southern Europe,Victims of intentional homicide,Total,Total,Total,Total,2016,Counts,66.0,Combination,Sum of Sex Total
10,PRT,Portugal,Europe,Southern Europe,Victims of intentional homicide,Total,Total,Total,Total,2017,Counts,76.0,Combination,Sum of Sex Total
11,PRT,Portugal,Europe,Southern Europe,Victims of intentional homicide,Total,Total,Total,Total,2018,Counts,81.0,Combination,Sum of Sex Total
12,PRT,Portugal,Europe,Southern Europe,Victims of intentional homicide,Total,Total,Total,Total,2019,Counts,73.0,Combination,Sum of Sex Total
13,PRT,Portugal,Europe,Southern Europe,Victims of intentional homicide,Total,Total,Total,Total,2020,Counts,81.0,Combination,Sum of Sex Total
14,PRT,Portugal,Europe,Southern Europe,Victims of intentional homicide,Total,Total,Total,Total,2021,Counts,82.0,Combination,Sum of Sex Total

In [201]:
#Adding PRT to HomSelectData
homSelectData = pd.concat([homSelectData, PrtSexSum], ignore_index=True)

In [204]:
#dropping old Portugal Rows
homSelectData.drop(homSelectData[(homSelectData['Iso3_code'] == 'PRT') & (homSelectData['Unnamed: 13'] != 'Sum of Sex Total')].index, inplace=True)

In [ ]:
homSelectData[homSelectData['Iso3_code'] == 'PRT']

In [231]:
#Selecting Switzerland rows
CheSexByYear = homSelectCountries[(homSelectCountries['Iso3_code'] == 'CHE') & (homSelectCountries['Year'] > 2006) & (homSelectCountries['Category'] == 'Total') &
                   (homSelectCountries['Age'] == 'Total') & (homSelectCountries['Indicator'] == 'Victims of intentional homicide') & 
                   (homSelectCountries['Unit of measurement'] == 'Counts') & (homSelectCountries['Sex'] != 'Total')]

In [233]:
#Calculating sum of Switzerland using male + female totals
CheSexSum = pd.DataFrame(columns=homSelectData.columns)

for year in range(2007, 2023):
    CheByYear = CheSexByYear[CheSexByYear['Year'] == year]
    sumTotal = CheByYear['VALUE'].sum()
    new_row = pd.DataFrame([{'Iso3_code':'CHE', 'Country':'Switzerland', 'Region':'Europe', 'Subregion':'Western Europe', 
                             'Indicator':'Victims of intentional homicide', 'Dimension':'Total', 'Category':'Total', 'Sex':'Total', 'Age':'Total', 'Year':year, 
                             'Unit of measurement': 'Counts', 'VALUE':sumTotal, 'Source': 'Combination', 'Unnamed: 13': 'Sum of Sex Total'}])
    CheSexSum = pd.concat([CheSexSum, new_row], ignore_index=True)

In [234]:
CheSexSum.head(100)

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source,Unnamed: 13
0,CHE,Switzerland,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2007,Counts,51.0,Combination,Sum of Sex Total
1,CHE,Switzerland,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2008,Counts,54.0,Combination,Sum of Sex Total
2,CHE,Switzerland,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2009,Counts,51.0,Combination,Sum of Sex Total
3,CHE,Switzerland,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2010,Counts,52.0,Combination,Sum of Sex Total
4,CHE,Switzerland,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2011,Counts,46.0,Combination,Sum of Sex Total
5,CHE,Switzerland,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2012,Counts,45.0,Combination,Sum of Sex Total
6,CHE,Switzerland,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2013,Counts,57.0,Combination,Sum of Sex Total
7,CHE,Switzerland,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2014,Counts,41.0,Combination,Sum of Sex Total
8,CHE,Switzerland,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2015,Counts,57.0,Combination,Sum of Sex Total
9,CHE,Switzerland,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2016,Counts,45.0,Combination,Sum of Sex Total
10,CHE,Switzerland,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2017,Counts,45.0,Combination,Sum of Sex Total
11,CHE,Switzerland,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2018,Counts,50.0,Combination,Sum of Sex Total
12,CHE,Switzerland,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2019,Counts,46.0,Combination,Sum of Sex Total
13,CHE,Switzerland,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2020,Counts,47.0,Combination,Sum of Sex Total
14,CHE,Switzerland,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2021,Counts,42.0,Combination,Sum of Sex Total
15,CHE,Switzerland,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2022,Counts,43.0,Combination,Sum of Sex Total

In [235]:
#adding new sums for each year to select data
homSelectData = pd.concat([homSelectData, CheSexSum], ignore_index=True)

In [236]:
homSelectData.drop(homSelectData[(homSelectData['Iso3_code'] == 'CHE') & (homSelectData['Unnamed: 13'] != 'Sum of Sex Total')].index, inplace=True)

In [237]:
homSelectData[homSelectData['Iso3_code'] == 'CHE']

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source,Unnamed: 13
506,CHE,Switzerland,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2007,Counts,51.0,Combination,Sum of Sex Total
507,CHE,Switzerland,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2008,Counts,54.0,Combination,Sum of Sex Total
508,CHE,Switzerland,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2009,Counts,51.0,Combination,Sum of Sex Total
509,CHE,Switzerland,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2010,Counts,52.0,Combination,Sum of Sex Total
510,CHE,Switzerland,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2011,Counts,46.0,Combination,Sum of Sex Total
511,CHE,Switzerland,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2012,Counts,45.0,Combination,Sum of Sex Total
512,CHE,Switzerland,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2013,Counts,57.0,Combination,Sum of Sex Total
513,CHE,Switzerland,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2014,Counts,41.0,Combination,Sum of Sex Total
514,CHE,Switzerland,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2015,Counts,57.0,Combination,Sum of Sex Total
515,CHE,Switzerland,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2016,Counts,45.0,Combination,Sum of Sex Total
516,CHE,Switzerland,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2017,Counts,45.0,Combination,Sum of Sex Total
517,CHE,Switzerland,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2018,Counts,50.0,Combination,Sum of Sex Total
518,CHE,Switzerland,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2019,Counts,46.0,Combination,Sum of Sex Total
519,CHE,Switzerland,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2020,Counts,47.0,Combination,Sum of Sex Total
520,CHE,Switzerland,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2021,Counts,42.0,Combination,Sum of Sex Total
521,CHE,Switzerland,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2022,Counts,43.0,Combination,Sum of Sex Total

In [ ]:
'''
Deciding to not do any calculations on New Zealand and Latvia. There is less data for these countries but discrepancies in how data was tracked for other years
makes calculating the totals tricky
'''

In [238]:
homSelectData['Iso3_code'].value_counts()

Iso3_code
AUS    16
ISR    16
DNK    16
USA    16
SWE    16
SVN    16
SVK    16
NOR    16
NLD    16
LUX    16
LTU    16
AUT    16
ITA    16
KOR    16
ESP    16
GRC    16
CAN    16
FIN    16
CHE    16
HRV    16
HUN    16
FRA    15
EST    15
JPN    15
DEU    15
CZE    15
POL    15
GBR    15
BEL    15
PRT    15
ISL    15
NZL    11
LVA    11
Name: count, dtype: int64

In [239]:
homSelectData.to_csv('HomicideCountsByCountry_2007-2022')

In [242]:
homSelectCountries[(homSelectCountries['Iso3_code'] == 'USA') & (homSelectCountries['Indicator'] == 'Victims of intentional homicide') &
                   (homSelectCountries['Unit of measurement'] == 'Rate per 100,000 population') & (homSelectCountries['Sex'] == 'Total') &
                   (homSelectCountries['Year'] > 2006) & (homSelectCountries['Category'] == 'Total')]

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source,Unnamed: 13
23254,USA,United States of America,Americas,Northern America,Victims of intentional homicide,Total,Total,Total,Total,2007,"Rate per 100,000 population",5.657597,NP/UNSDC/CTS/GSH 2019 Revision,NaN
23284,USA,United States of America,Americas,Northern America,Victims of intentional homicide,Total,Total,Total,Total,2008,"Rate per 100,000 population",5.386089,NP/UNSDC/CTS/GSH 2019 Revision,NaN
23315,USA,United States of America,Americas,Northern America,Victims of intentional homicide,Total,Total,Total,Total,2009,"Rate per 100,000 population",4.991377,NP/UNSDC/CTS/GSH 2019 Revision,NaN
23348,USA,United States of America,Americas,Northern America,Victims of intentional homicide,Total,Total,Total,Total,2010,"Rate per 100,000 population",4.730981,NP/UNSDC/CTS/GSH 2019 Revision,NaN
23381,USA,United States of America,Americas,Northern America,Victims of intentional homicide,Total,Total,Total,Total,2011,"Rate per 100,000 population",4.670944,NP/UNSDC/CTS/GSH 2019 Revision,NaN
23415,USA,United States of America,Americas,Northern America,Victims of intentional homicide,Total,Total,Total,Total,2012,"Rate per 100,000 population",4.691596,NP/UNSDC/CTS/GSH 2019 Revision,NaN
23449,USA,United States of America,Americas,Northern America,Victims of intentional homicide,Total,Total,Total,Total,2013,"Rate per 100,000 population",4.483442,NP/UNSDC/CTS/GSH 2019 Revision,NaN
23483,USA,United States of America,Americas,Northern America,Victims of intentional homicide,Total,Total,Total,Total,2014,"Rate per 100,000 population",4.398294,NP/UNSDC/CTS/GSH 2019 Revision,NaN
23517,USA,United States of America,Americas,Northern America,Victims of intentional homicide,Total,Total,Total,Total,2015,"Rate per 100,000 population",4.892982,NP/UNSDC/CTS/GSH 2019 Revision,NaN
23551,USA,United States of America,Americas,Northern America,Victims of intentional homicide,Total,Total,Total,Total,2016,"Rate per 100,000 population",5.321656,NP/UNSDC/CTS/GSH 2019 Revision,NaN
23585,USA,United States of America,Americas,Northern America,Victims of intentional homicide,Total,Total,Total,Total,2017,"Rate per 100,000 population",5.243924,NP/UNSDC/CTS/GSH 2019 Revision,NaN
23617,USA,United States of America,Americas,Northern America,Victims of intentional homicide,Total,Total,Total,Total,2018,"Rate per 100,000 population",4.929848,NP/UNSDC/CTS/GSH 2019 Revision,NaN
23650,USA,United States of America,Americas,Northern America,Victims of intentional homicide,Total,Total,Total,Total,2019,"Rate per 100,000 population",4.985947,NP/UNSDC/CTS/GSH 2019 Revision,NaN
23683,USA,United States of America,Americas,Northern America,Victims of intentional homicide,Total,Total,Total,Total,2020,"Rate per 100,000 population",6.420751,NP/UNSDC/CTS/GSH 2019 Revision,NaN
23717,USA,United States of America,Americas,Northern America,Victims of intentional homicide,Total,Total,Total,Total,2021,"Rate per 100,000 population",6.807466,NP/UNSDC/CTS/GSH 2019 Revision,NaN
23742,USA,United States of America,Americas,Northern America,Victims of intentional homicide,Total,Total,Total,Total,2022,"Rate per 100,000 population",6.382988,NP/UNSDC/CTS/GSH 2019 Revision,NaN

In [247]:
homSelectCountries[(homSelectCountries['Iso3_code'] == 'DEU') & (homSelectCountries['Indicator'] == 'Victims of intentional homicide') &
                   (homSelectCountries['Unit of measurement'] == 'Rate per 100,000 population') & (homSelectCountries['Sex'] == 'Total') &
                   (homSelectCountries['Year'] > 2006) & (homSelectCountries['Category'] == 'Total')]

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source,Unnamed: 13
23230,DEU,Germany,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2007,"Rate per 100,000 population",1.093814,SDG/CTS/NP,NaN
23259,DEU,Germany,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2008,"Rate per 100,000 population",1.023179,SDG/CTS/NP,NaN
23290,DEU,Germany,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2009,"Rate per 100,000 population",0.988179,SDG/CTS/NP,NaN
23321,DEU,Germany,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2010,"Rate per 100,000 population",0.975099,SDG/CTS/NP,NaN
23354,DEU,Germany,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2011,"Rate per 100,000 population",0.906374,SDG/CTS/NP,NaN
23387,DEU,Germany,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2012,"Rate per 100,000 population",0.808137,SDG/CTS/NP,NaN
23421,DEU,Germany,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2013,"Rate per 100,000 population",0.834960,SDG/CTS/NP,NaN
23455,DEU,Germany,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2014,"Rate per 100,000 population",0.874677,SDG/CTS/NP,NaN
23489,DEU,Germany,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2015,"Rate per 100,000 population",0.830965,SDG/CTS/NP,NaN
23523,DEU,Germany,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2016,"Rate per 100,000 population",1.169663,SDG/CTS/NP,NaN
23557,DEU,Germany,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2017,"Rate per 100,000 population",0.983971,SDG/CTS/NP,NaN
23590,DEU,Germany,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2018,"Rate per 100,000 population",0.950581,SDG/CTS/NP,NaN
23623,DEU,Germany,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2019,"Rate per 100,000 population",0.749265,SDG/CTS/NP,NaN
23656,DEU,Germany,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2020,"Rate per 100,000 population",0.938449,SDG/CTS/NP,NaN
23690,DEU,Germany,Europe,Western Europe,Victims of intentional homicide,Total,Total,Total,Total,2021,"Rate per 100,000 population",0.833248,SDG/CTS/NP,NaN